
/* 
    Created on : Dec 28, 2015, 12:57:15 PM
    Author     : jef
*/

div.ok {
    color:white;
    background-color: green;
    padding-left:10px;
    padding-bottom:10px;
}

div.ok a {
    color:white;    
    text-decoration: underline;
}

div.executed {
    color:white;
    background-color: lightseagreen;
    padding-left:10px;
    padding-bottom:10px;
}

div.executed a {
    color:white;    
    text-decoration: underline;
}

div.unknown {
    color:black;
    background-color: white;
    padding-left:10px;
    padding-bottom:10px;
}

div.closed {
    color:white;
    background-color: purple;
    padding-left:10px;
    padding-bottom:10px;
}

div.unknown a {
    color:black;    
    text-decoration: underline;
}

div.onHold {
    color:black;
    background-color: wheat;
    padding-left:10px;
    padding-bottom:10px;
}

div.onHold a {
    color:black;    
    text-decoration: underline;
}

div.nok {
    color:white;
    background-color: darkred;
    padding-left:10px;
    padding-bottom:10px;
}

div.nok a {
    color:white;    
    text-decoration: underline;
}

div.notApplicable {
    color:black;
    background-color: lightgray;
    padding-left:10px;
    padding-bottom:10px;
}

div.notApplicable a {
    color:black;    
    text-decoration: underline;
}

textarea {
    font-size:0.9em;
    color:#6da021;
    border:1px solid #6da021;
    width:300px; height:50px;
    padding-left:10px;
    font-family: tahoma, sans-serif;
}

a.anchor {
    display: block;
    position: relative;
    top: -180px;
    visibility: hidden;
}