a {
    cursor: pointer;
}

div.step {
    padding:10px;
}

/* 
    Created on : Dec 28, 2015, 12:57:15 PM
    Author     : jef
*/

div.ok {
    color:white;
    background-color: green;
}

div.ok a {
    color:white;    
    text-decoration: underline;
}

div.executed {
    color:white;
    background-color: lightseagreen;
}

div.executed a {
    color:white;    
    text-decoration: underline;
}

div.unknown {
    color:black;
    background-color: ivory;
}

div.unknown a {
    color:black;
    text-decoration: underline;
}

div.aborted {
    color:white;
    background-color: purple;
}

div.inProgress {
    color:black;
    background-color: lightblue;
}

div.inProgress a {
    color:black;    
    text-decoration: underline;
}

div.nok {
    color:white;
    background-color: darkred;
}

div.nok a {
    color:white;    
    text-decoration: underline;
}

div.notApplicable {
    color:black;
    background-color: lightgray;
}

div.notApplicable a {
    color:black;    
    text-decoration: underline;
}

div.notYetApplicable {
    color:black;
    background-color: lightgoldenrodyellow;
}

div.notYetApplicable a {
    color:black;
    text-decoration: underline;
}

textarea {
    font-size:0.9em;
    color:#6da021;
    border:1px solid #6da021;
    width:300px; height:50px;
    padding-left:10px;
    font-family: tahoma, sans-serif;
}

a.anchor {
    display: block;
    position: relative;
    top: -180px;
    visibility: hidden;
}

.goto-checklist {
    vertical-align: middle;
}

.addAnswer {
    vertical-align: super;
}

.stepId {
    font-style: italic;
}

.responsible, .documentation {
    float: right;
    margin: 0 0 0.5em 1em;
}

.responsible ~ div {
    clear: both;
}

.responsible .glyphicon, .documentation .glyphicon, .action .glyphicon, .question .glyphicon, .subchecklist .glyphicon, button.btn .glyphicon:before {
    margin-right: 0.5em;
    vertical-align: text-bottom;
}

button.btn-xs .glyphicon:before, #addTagButton .glyphicon:before, #deleteClButton .glyphicon:before, #closeClButton .glyphicon:before, #gotoParentClButton .glyphicon:before {
    margin-right: 0;
}

.question, .action, .subchecklist {
    display: inline-flex;
    float: left;
    margin: 0;
}

.question {
    margin-bottom: 0.5em;
}

.answer textarea, .errorBlock textarea {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.answer > div {
    margin-left: 1em;
}

.answer p {
    margin: 0;
}

button.btn {
    padding: 6px;
    line-height: 1;
}

input[type=radio], input[type=checkbox] {
    margin-right: 3px;
}

#autorefreshBlock button {
    margin-right: 0;
}

@media screen and (min-width: 768px) {

    .jumbotron {
        padding-bottom: 30px;
    }
}