<html lang="en" ng-app="checklist">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">        
        <title>Checklist overview</title>
        <script src="clientjs/jquery.min.js"></script>
        <script src="clientjs/bootstrap.min.js"></script>
        <!-- Angular JS-->
        <script src="clientjs/angular.js"></script>
        <!-- Bootstrap core CSS-->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap theme-->
        <link href="css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="css/checklist.css" rel="stylesheet">
        <script src="clientjs/ui-bootstrap-0.14.3.js"></script>
        <script src="clientjs/ui-bootstrap-tpls-0.14.3.js"></script>
        <script src="clientjs/app.js"></script>
    </head>

    <body role="document" ng-app="read">
        <!-- Fixed navbar-->
        <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span>
                        <span class="icon-bar"></span></button><!--a.navbar-brand(href='#') Bootstrap theme--></div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="./templates.html" target="_self">Templates</a></li>
                        <li><a href="./checklistOverview.html" target="_self">Checklists</a></li>
                        <li><a href="./select.html" target="_self">Select</a></li>
                        <li><a href="./tag.html" target="_self">Tags</a></li>
                        <li><a href="./help.html" target="_self">Help</a></li>
                    </ul>
                </div>
                <!-- /.nav-collapse-->
            </div>
        </div>
        <div role="main" class="container theme-showcase" ng-controller="checklistController as checklist" ng-init="getChecklists()">    
            <div class="jumbotron">
                <h1>Checklist overview</h1>                                              
            </div>
            <h2>Most recent active checklists : </h2>
            <p>Hide closed checklists : <input type="checkbox" name="hideClosed" onchange="angular.element(this).scope().toggleClosedFilter(this.checked, true)"/></p>
            <div ng-repeat="checklist in checklists" class="list-group">                
                <a ng-class="getClassForChecklist(checklist)" href="checklist.html?id={{checklist.uuid}}" target="_blank">{{checklist.lastActive | date:'yyyy-MM-dd HH:mm'}}: {{checklist.displayName}} &nbsp;&nbsp;
                    <div class="pull-right">
                        <span class="glyphicon glyphicon-tags" aria-hidden="true" ></span>
                        <span ng-repeat="tag in checklist.tags | orderBy: tag">                        
                            &nbsp;<span class="label label-primary" >{{tag}}</span>&nbsp;                       
                        </span>
                         
                    </div>
                </a>                
                
            </div>

        </div>

        <!-- /container-->
        <!-- Bootstrap core JavaScript-->
        <!-- ==================================================-->
        <!-- Placed at the end of the document so the pages load faster-->
        <script src="clientjs/holder.js"></script>
    </body>
</html>