<html lang="en" ng-app="checklist">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">        
        <title>Templates</title>
        <script src="clientjs/jquery.min.js"></script>
        <script src="clientjs/bootstrap.min.js"></script>
        <!-- Angular JS-->
        <script src="clientjs/angular.js"></script>
        <!-- Bootstrap core CSS-->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap theme-->
        <link href="css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="css/checklist.css" rel="stylesheet">
        <script src="clientjs/app.js"></script>
    </head>

    <body role="document" ng-app="read">
        <!-- Fixed navbar-->
        <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span>
                        <span class="icon-bar"></span></button><!--a.navbar-brand(href='#') Bootstrap theme--></div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="./templates.html" target="_self">Templates</a></li>
                        <li><a href="./checklist.html" target="_self">Checklists</a></li>
                        <li><a href="./stats.html" target="_self">Statistics</a></li>
                    </ul>
                </div>
                <!-- /.nav-collapse-->
            </div>
        </div>
        <div role="main" class="container theme-showcase" ng-controller="checklistController as checklist">    
            <div class="jumbotron">
                <h1>{{data.displayName}}</h1>
                <h3>{{data.description}}</h3>
            </div>
            <div>
                <div class="list-group" ng-repeat="step in data.steps">    
                    <div ng-class="getClassForStep(step)">
                    <h3 class="list-group-item-heading">{{step.id}}</h3>
                        <h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;{{step.responsible}}</h4>
                        <h4><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>&nbsp;&nbsp;{{step.action}}</h4>
                        <div class="btn-group btn-group" role="group" aria-label="operations" ng-show="showActionButtons(step)">
                            <p>Action result :&nbsp;&nbsp;</p>
                            <button type="button" class="btn btn-default" aria-label="ok" ng-click="updateAction(step, true);">
                              <span class="glyphicon glyphicon-ok-sign" aria-hidden="true">&nbsp;OK</span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="problem" ng-click="updateAction(step, false);">
                              <span class="glyphicon glyphicon-remove-sign" aria-hidden="true">&nbsp;Problem</span>
                            </button>
                        </div>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>

        <!-- /container-->
        <!-- Bootstrap core JavaScript-->
        <!-- ==================================================-->
        <!-- Placed at the end of the document so the pages load faster-->
        <script src="clientjs/holder.js"></script>
    </body>
</html>